<style type="text/css">
  #map {
    width: 600px;
    height: 600px;
  }
</style>

<div id="map"></div>

<script type="text/javascript">
  handleDirections();
</script>

<div id='list-div' class='center'>
  <section id='list-container' class='card center'>
    <ul id='restaurant-list'>
    </ul>
  </section>
</div>

<div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
  <a id='list-button' class="btn-floating btn-large waves-effect waves-light btn blue-grey darken-1">
    <i id='list-icon' class="material-icons">list</i>
  </a>
</div>
<script type="text/javascript">
  showList(savedPlaces);
</script>
