<style type="text/css">
  #map {
    width: 600px;
    height: 600px;
  }
</style>

<div id="map"></div>

<script type="text/javascript">
  handleDirections();
</script>

<div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
  <a id='list-button' class="btn-floating btn-large waves-effect waves-light btn blue-grey darken-1">
    <i class="material-icons">list</i>
  </a>
</div>
