    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry,drawing&key=AIzaSyDq60WcziFdwMLmN56SCpsan8OQMKEqWn4&v=3&callback=handleDirections">
    </script>

    <style type="text/css">
      #map {
        width: 600px;
        height: 600px;
      }
    </style>

    <div id="map"></div>

