
<%= @user.first_name %>'s Friends


<h2><%= link_to "Find Friends", user_new_friend_path %></h2>





<% @user.friends.each do |friend| %>
<h2> <%= link_to "#{friend.first_name} #{friend.last_name}", user_path(friend ) %> </h2>
<% end %>
