<ul class="collection-header with">
  <li class="collection-header center"><h5>Search Results </h5></li>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel red darken-4">
       <div class="row valign-wrapper">
        <div class="col s4">
          <li class="collection-item avatar">
            <img src='<%= @matches.avatar.url(:thumb) %>' alt="" class="circle responsive-img">
          </li>
        </div>
          <div class="col l4 s8 black-text">
          <span class="title">
            <div class='waves-effect waves-light btn blue-grey darken-1 right center-buttons'>
              <%= button_to "#{@matches.first_name} #{@matches.last_name}", user_path(@matches ) %>
            </div>
          </span><br><br>
          <div class='white-text'>
            <p class='right'>Phone: <%= @matches.phone %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ul>







