<div class="container center">
	<br><div class='waves-effect waves-light btn blue-grey darken-1'>
    <i class="material-icons left">add</i>
    <%= link_to "New Favorite Location", new_favorite_path(@user) %>
  </div>
</div>


<div class="container">
  <div id="favorite-list">
    <% @user.favorite_locations.each do |location| %>
      <div class="address">
        <h4 class="center"><%= link_to location.name, new_directions_path(location) %></h4>
        <p class="center"><%= location.address %></p>
      </div>
    <% end %>
  </div>
</div>
