<div class='center'>
	<div class='waves-effect waves-light btn blue-grey lighten-1'>
	  <i class="material-icons left">search</i>
	  <%= link_to "Add a Favorite", user_new_favorite_path(@user) %>
	</div>
</div>

<div class="container">
  <div id="favorite-list">
    <% @user.favorite_locations.each do |location| %>
      <div class="address">
        <h4 class="center"><%= link_to location.name, new_directions_path(location), :class => "seeable-link" %></h4>
        <p class="center"><%= location.address %></p>
      </div>
    <% end %>
  </div>
</div>
