<!-- <h3>View your Favorite Locations</h3>
<div id="map"></div>
<div id="favorite-location">
  <div id="address-search-panel">
    <input id="address" type="textbox" VALUE="">
    <input id="submitAddress" type="button" value="Lookup Address">
  </div>
</div> -->

<div class="container">
  <div id="favorite-list">
    <% @user.favorite_locations.each do |location| %>
      <div class="address">
        <h4 class="center"><%= link_to location.name, new_directions_path(location), :class => "seeable-link" %></h4>
        <p class="center"><%= location.address %></p>
      </div>
    <% end %>
  </div>
</div>
