<script type="text/javascript">
  loadFavorites()
</script>
<h3>Add a New location</h3>
<div id="map"></div>
<div id="favorite-location">
  <div id="address-search-panel">
    <input id="address" type="textbox" VALUE="">
    <input id="submitAddress" type="button" value="Lookup Address">
  </div>
</div>


