<h4 class="center">Add New Favorite Location</h4>
<div class="center" id="favorite-location"><br>
  <div id="address-search-panel">
    <input id="address" type="textbox" VALUE=""><br><br>
    <input class='file-field waves-effect waves-light btn blue-grey darken-1 center' id="submitAddress" type="button" value="Lookup Address">
  </div>
</div>
<script type="text/javascript">
  loadFavorites()
</script>


