
<script type="text/javascript">handleDirections()</script>
<h3>Add a New location</h3>
<div id="map"></div>
<div id="favorite-location">
  <div id="favorite-address-search-panel">
    <input id="address" type="textbox" VALUE="">
    <input id="submit-favorite-address" type="button" value="Lookup Address">
  </div>
</div>
