<div class='navbar-fixed'>
  <nav>
    <div class='nav-wrapper red darken-4'>
      <div class='navbar-wrapper container'>
        <div class='brand-logo'>
          <a href='/'><img class='responsive-img' src='/images/Untitled-1.png'></a>
        </div>
        <div class='right-align'>
          <% if logged_in? %>
            <%= link_to "logout", sessions_path, method: :delete  %>
          <% else %>
            <%= link_to "login", new_session_path  %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>
